body{
    margin: 4%;
    padding: 0%;
}
.box {
    width: 148;
    height: 44;
  }
  img {
    width: 100%;
    height: 100%;
  }
.navbar ul li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar a{
    display: list-item;
}

* {
    box-sizing: border-box;
  }
.centercol{
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

