body {
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(233, 241, 241)
  
}   
.navbar {
  width: 100%;
  overflow: hidden;
  background-color: rgb(248, 248, 248);  
  
}

.navbar a {
  float: left;
  color: #080606;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 10px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.hea{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 67;
  font-style: normal;
  font-weight: bold;
  float: center;
  text-align:center;
  
}
.pr{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14;
  font-style: normal;
  font-weight: normal;
  float: center;
  text-align: center;
}
.fp{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8;
  font-style: normal;
  font-weight: normal;
  color: rgb(33, 33, 126);
}

.try{
  position: absolute;
  bottom: 10px;

}
                    
  



