<template lang = "html">
<div class="container">
  <div class = "row">
     <div class="col-xs-2 col-lg-2 col-md-2 col-sm-2" style="background-color: rgb(236, 235, 235);">            
            <br>
            <div class = "box">
              <img src=".\assets\thisismylogo.png" width="148" height="44" class="center">
            
            </div>
            <br>
            <div class = "navbar">     
              <ul class="nav navbar-nav pull-right">
                <li><a href="#uploadmusic" data-toggle="modal" data-target="#uploadmod">Upload Music</a></li>
                <br>
                <li><a href="#allsong">All Songs</a></li>
                <br>
                <li><a href="#createplaylist" data-toggle="modal" data-target="#createplay">Create Playlist</a></li>
                <br>
                <li><a href="#playlist1">Playlist 1</a></li>
                <li><a href="#playlist2">Playlist</a></li>
                <li><a href="#playlist3">Playlist</a></li>
                <li><a href="#playlist4">Playlist</a> </li> 
              </ul>
                <div class="modal fade" id="createplay" role="dialog">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Create Playlist</h4>
                      </div>
                      <div class="modal-body">
                        <p></p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Create</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="uploadmod" role="dialog">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Upload music</h4>
                      </div>
                      <div class="modal-body">
                        <form method='post' action='' enctype="multipart/form-data">
                          Select file : <input type='file' name='file' id='file' class='form-control' ><br>
                          <input type='button' class='btn btn-info' value='Upload' id='btn_upload'>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Upload</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            <div class="col-xs-10 col-md-10 col-lg-10 col-sm-10" style="background-color: rgb(236, 235, 235);">
            <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12" style="background-color: rgb(197, 211, 198); bottom: 5;">
              <br>
              <div class="container">
                <div class="search-container">
                  <form class="" action="action_page.php">
                    <input type="text" placeholder="Search" name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                  </form>
                </div>
                <br>
              <br>
              <div class="h">
                <h1>All Songs</h1>
              </div>
              
              <br>
              </div>       
            </div>
            <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12" style="background-color: grey;">
              <table class="table table-bordered" style="border-color: black; text-align: center;">
                <tr style="background: rgb(208, 208, 218);">
                  <th></th>
                  <th>Title</th>
                  <th>Artist</th>
                  <th>Album</th>
                  <th>Duration</th>
                </tr>
                <tr>
                  <td><img src=".\assets\pause.png" height="30" width="30"></td>
                  <td>Song Title</td>
                  <td>Artist Name</td>
                  <td>Some Album</td>
                  <td>3:45</td>

                </tr>
                <tr>
                  <td><img src=".\assets\pause.png" height="30" width="30"></td>
                  <td>Song Title</td>
                  <td>Artist Name</td>
                  <td>Some Album</td>
                  <td>3:45</td>
                </tr>

                  <tr>
                    <td><img src=".\assets\pause.png" height="30" width="30"></td>
                    <td>Song Title</td>
                    <td>Artist Name</td>
                    <td>Some Album</td>
                    <td>3:45</td>  
                  </tr>
              </table>            
            </div>
            <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12" style="background-color: rgb(184, 178, 178); text-align: center;">
              <div class="container">
                <br>
                <hr size="5" color="black" width="100%">
                <img src=".\assets\pngaaa.com-409997.png" height="35" width="38" hspace="10">     
                <img src=".\assets\pause.png" width="35" height="35" hspace="10" >
                <img src=".\assets\kjkdfkjdf.png" height="35" width="38" hspace="10">
                <br>
                <hr>
              </div> 
            </div>
          </div>                      
          </div>
          </div> 
   


  
</template>


<script>





export default {

  name: 'App',
  components: {
    
  }
    
  }
  
  




</script>


<style>
body{
  background-color: grey;
  margin:5%
}


</style>
